In [21]:
import pandas as pd
from colors import colors
from sklearn.metrics import accuracy_score

In [22]:
# Read prediction dataset and preprocess it
try:
    prediction = pd.read_csv("houses.csv")
except:
    print(f"{colors().RED}Error: could not read dataset test file{colors().END}")
    exit()
prediction

     Index Hogwarts House
0        0     Hufflepuff
1        1     Hufflepuff
2        2     Hufflepuff
3        3     Hufflepuff
4        4     Hufflepuff
..     ...            ...
395    395      Ravenclaw
396    396     Hufflepuff
397    397     Hufflepuff
398    398      Ravenclaw
399    399     Hufflepuff

[400 rows x 2 columns]

In [23]:
# Read evaluation dataset and preprocess it
try:
    evaluation = pd.read_csv("houses.csv") # CHANGE HERE
except:
    print(f"{colors().RED}Error: could not read dataset test file{colors().END}")
    exit()
evaluation

     Index Hogwarts House
0        0     Hufflepuff
1        1     Hufflepuff
2        2     Hufflepuff
3        3     Hufflepuff
4        4     Hufflepuff
..     ...            ...
395    395      Ravenclaw
396    396     Hufflepuff
397    397     Hufflepuff
398    398      Ravenclaw
399    399     Hufflepuff

[400 rows x 2 columns]

In [24]:
y_pred = pd.DataFrame(prediction['Hogwarts House'])
y_true = pd.DataFrame(evaluation['Hogwarts House']) # CHANGE HERE?
score = accuracy_score(y_true, y_pred)
score

1.0