In [99]:
import pandas as pd
from colors import colors
from matplotlib import pyplot as plt
import math
import numpy as np

In [100]:
# drops all non-numeric columns but "Hogwarts House"
def drop_columns(df):
    df.drop(columns=['Index'], inplace=True)
    for column in df:
        if df[column].dtype.kind in 'biufc': # https://stackoverflow.com/a/38185438
            continue
        if column == 'Hogwarts House':
            continue
        else:
            df.drop(columns=[column], inplace=True)

In [103]:
def hypothesis(theta, X):
    return 1 / (1 + np.exp(-(np.dot(theta, X.T)))) - 0.0000001

In [104]:
# Read test dataset and preprocess it
try:
    df = pd.read_csv("datasets/dataset_test.csv")
except:
    print(f"{colors().RED}Error: could not read dataset test file{colors().END}")
    exit()
drop_columns(df)

In [105]:
# Read theta file
try:
    theta = np.loadtxt('theta.txt')
except:
    print(f"{colors().RED}Error: could not read theta.txt file. Train the model first!{colors().END}")
    exit()

In [106]:
# Normalize data
for column in df:
    if df[column].dtype.kind not in 'biufc': # https://stackoverflow.com/a/38185438
        continue
    max_norm = df[column].max()
    min_norm = df[column].min()

    for i in range(len(df)):
        df.iloc[i, df.columns.get_loc(column)] = (df.iloc[i, df.columns.get_loc(column)] - min_norm) / (max_norm - min_norm)
        # make missing data zero
        if math.isnan(df.iloc[i, df.columns.get_loc(column)]) == True:
            df.iloc[i, df.columns.get_loc(column)] = 0

In [107]:
X = df.drop(columns=["Hogwarts House"])
# fix overflow
X = X.astype(np.float128)

In [108]:
X = pd.concat([pd.Series(1, index=X.index, name='bias'), X], axis=1)
X

,bias,Arithmancy,Astronomy,Herbology,Defense Against the Dark Arts,Divination,Muggle Studies,Ancient Runes,History of Magic,Transfiguration,Potions,Care of Magical Creatures,Charms,Flying
0,1,0.389736,0.896002,0.656189,0.103998,0.963781,0.341390,0.211814,0.649164,0.724280,0.331983,0.534007,0.454333,0.304965
1,1,0.428703,0.258180,0.653352,0.741820,0.865670,0.789595,0.813900,0.777457,0.731072,0.664969,0.567509,0.843836,0.275291
2,1,0.409272,0.671351,0.180829,0.328649,0.762614,0.207635,0.771464,0.092462,0.152850,0.207042,0.201422,0.202975,0.806832
3,1,0.601788,0.723300,0.756481,0.000000,0.000000,0.298966,0.311040,0.000000,0.706951,0.399849,0.664154,0.468068,0.310764
4,1,0.000000,0.652242,0.693237,0.347758,0.778519,0.298687,0.190496,0.573330,0.748292,0.268872,0.489287,0.468616,0.320225
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,1,0.434008,0.148580,0.208612,0.851420,0.261154,0.226977,0.211341,0.810976,0.728972,0.795131,0.782324,0.338630,0.114168
396,1,0.496870,0.857824,0.849035,0.142176,0.683684,0.413742,0.000000,0.632857,0.666977,0.068191,0.295692,0.383515,0.300481
397,1,0.603374,0.654496,0.770531,0.345504,0.739441,0.128387,0.327003,0.631533,0.843696,0.526223,0.096201,0.468165,0.339876
398,1,0.540753,0.045616,0.848040,0.954384,0.720260,0.784233,0.844156,0.822142,0.700015,0.598974,0.342673,0.933878,0.294049
399,1,0.440257,0.039925,0.873305,0.000000,0.659558,0.000000,0.557248,0.585839,0.665165,0.112645,0.633038,0.861298,0.316328

In [109]:
theta

array([[-0.86109874, -0.08037759, -0.08948608, -0.3005474 ],
       [-0.48395576, -0.04961991, -0.07931385, -0.10831676],
       [-1.36592318, -0.79852511,  0.51525423,  0.90774716],
       [ 0.33541117, -0.80055755, -0.78048331,  0.80676041],
       [ 0.543961  ,  0.71523615, -0.58768908, -1.21875386],
       [ 0.00745874, -1.23848265,  0.23469668,  0.33113939],
       [ 0.98028345, -0.35800334, -0.30826797, -0.6416909 ],
       [ 0.60663899, -0.6040243 ,  0.63643845, -1.14721692],
       [-0.13699574,  0.21477773, -1.04472373,  0.38871347],
       [-0.16575458,  0.2369563 , -1.15511685,  0.43563397],
       [-0.29438448,  0.48570565, -0.45661444, -0.42319896],
       [-0.3649095 , -0.05876129, -0.05914943, -0.12044309],
       [ 1.039717  , -0.55080571, -0.70389817, -0.16427318],
       [-0.52863188, -0.60135093,  0.97097382, -0.52474526]])

In [110]:
theta = pd.DataFrame(theta)
hypothesis(theta.iloc[:,3], X)

array([0.70238563, 0.16036509, 0.22759597, 0.54271238, 0.60004876,
       0.25141583, 0.12657973, 0.67652952, 0.14745786, 0.56001207,
       0.78705068, 0.23228919, 0.17114268, 0.23533352, 0.22683935,
       0.80606716, 0.1917557 , 0.25606262, 0.16167173, 0.68745407,
       0.64603211, 0.21366456, 0.19305123, 0.11412506, 0.45188192,
       0.58757966, 0.09843648, 0.18664841, 0.24642902, 0.12177267,
       0.66701298, 0.58440475, 0.24414623, 0.6850272 , 0.66649848,
       0.24401163, 0.2908879 , 0.1311541 , 0.19643351, 0.12351328,
       0.1293005 , 0.20922781, 0.79701682, 0.22168954, 0.66469823,
       0.19531068, 0.21890394, 0.37263348, 0.17263303, 0.18390521,
       0.20553298, 0.69344731, 0.15107499, 0.19226292, 0.66885283,
       0.22359316, 0.18308294, 0.16537676, 0.63978859, 0.30044008,
       0.24610641, 0.25488963, 0.60180501, 0.65470114, 0.14298454,
       0.60401943, 0.50830743, 0.18747929, 0.61904454, 0.13028463,
       0.16150315, 0.23574182, 0.35991251, 0.18324583, 0.21404483,
       0.61350223, 0.58863395, 0.22283632, 0.1178614 , 0.199399  ,
       0.10815717, 0.71456402, 0.27919596, 0.28932186, 0.2202434 ,
       0.62859978, 0.55272152, 0.64671039, 0.18308833, 0.20243786,
       0.55470205, 0.26582248, 0.26272708, 0.67971962, 0.14455436,
       0.14347593, 0.33011538, 0.21325474, 0.54879473, 0.13088153,
       0.69186932, 0.57083348, 0.65737997, 0.1965312 , 0.12228944,
       0.07869332, 0.63010827, 0.18852773, 0.45060332, 0.72150873,
       0.57793041, 0.21257347, 0.25193133, 0.15797715, 0.63090125,
       0.13593191, 0.11624997, 0.39591025, 0.34617547, 0.12069133,
       0.258164  , 0.62455177, 0.28094164, 0.2924505 , 0.14218958,
       0.18118869, 0.20363576, 0.19700174, 0.62521708, 0.15268305,
       0.14366013, 0.25432257, 0.3205827 , 0.21019554, 0.4735542 ,
       0.11772401, 0.13899608, 0.25900837, 0.19500014, 0.59633691,
       0.56893297, 0.17082663, 0.25925002, 0.19640169, 0.34939443,
       0.13101935, 0.31072472, 0.63342975, 0.66253144, 0.12472878,
       0.68083791, 0.23095505, 0.31408313, 0.17435529, 0.19402035,
       0.20360153, 0.73931981, 0.20448324, 0.53672517, 0.09129147,
       0.10413621, 0.60121214, 0.71298986, 0.68937755, 0.11470897,
       0.27170746, 0.67552939, 0.47598271, 0.6273669 , 0.70514227,
       0.29866153, 0.48664343, 0.62405323, 0.22566923, 0.57600121,
       0.20766594, 0.19251624, 0.56096357, 0.62604652, 0.21756517,
       0.09290526, 0.19664306, 0.27806098, 0.1877437 , 0.28016896,
       0.27186258, 0.64519937, 0.19744874, 0.60963967, 0.18760609,
       0.2485823 , 0.62759398, 0.371585  , 0.24017774, 0.10981429,
       0.69839555, 0.14888805, 0.5944985 , 0.53340049, 0.29387623,
       0.27825961, 0.60203347, 0.19079106, 0.57135051, 0.29255378,
       0.21392404, 0.12328697, 0.56383973, 0.25176676, 0.11189584,
       0.27870323, 0.69060161, 0.18701392, 0.14984995, 0.26328665,
       0.17461267, 0.66276097, 0.62307051, 0.26643146, 0.28900321,
       0.20604922, 0.22519147, 0.68638776, 0.68493544, 0.24632583,
       0.15104266, 0.18921479, 0.11009766, 0.5989859 , 0.74024291,
       0.27733315, 0.51253386, 0.20781049, 0.15337431, 0.68683378,
       0.72393385, 0.63982635, 0.24730945, 0.31797587, 0.32331009,
       0.66778787, 0.23674568, 0.60570867, 0.60773811, 0.24973565,
       0.28888416, 0.15952616, 0.19282899, 0.55965543, 0.69113592,
       0.1910413 , 0.21071051, 0.4116063 , 0.50587299, 0.31445506,
       0.18339266, 0.68414012, 0.12785486, 0.60458069, 0.13410235,
       0.18851595, 0.14823495, 0.21452873, 0.61498128, 0.70953808,
       0.14355321, 0.31627794, 0.18727961, 0.2639761 , 0.18514956,
       0.61187896, 0.23383566, 0.17579699, 0.24543744, 0.11392343,
       0.61481794, 0.33040799, 0.29355957, 0.3255116 , 0.70697208,
       0.5740831 , 0.73625993, 0.63730133, 0.14177444, 0.73508162,
       0.12554719, 0.1902167 , 0.2336025 , 0.14286296, 0.19334164,
       0.32157573, 0.32919636, 0.13410333, 0.53481526, 0.75177074,
       0.23620432, 0.22131128, 0.70153267, 0.68277456, 0.71007593,
       0.60382874, 0.74923391, 0.77107712, 0.62115028, 0.1595582 ,
       0.21704053, 0.528935  , 0.2004947 , 0.62555337, 0.26772556,
       0.68891429, 0.62901378, 0.69100315, 0.16807347, 0.1669252 ,
       0.56781807, 0.11701287, 0.25399506, 0.75553056, 0.21438742,
       0.19019886, 0.10791374, 0.15856841, 0.24069873, 0.13568695,
       0.10874975, 0.1763596 , 0.58833549, 0.22861229, 0.29527048,
       0.13748703, 0.46254106, 0.36213393, 0.13760441, 0.12343387,
       0.65354006, 0.16476703, 0.71146059, 0.27972061, 0.58690163,
       0.55577012, 0.2127608 , 0.21979716, 0.2025355 , 0.48578814,
       0.61953665, 0.67467001, 0.11798406, 0.16597781, 0.20276022,
       0.27644394, 0.2268929 , 0.61077531, 0.17457828, 0.15407247,
       0.51163276, 0.71339468, 0.61449799, 0.31235006, 0.58445734,
       0.11525301, 0.3113283 , 0.18592401, 0.17435573, 0.49998524,
       0.24014942, 0.61672092, 0.64648884, 0.19920605, 0.61304758,
       0.17478858, 0.31277389, 0.32245339, 0.14178261, 0.58227475,
       0.593707  , 0.15932942, 0.22763014, 0.19627185, 0.20572302,
       0.35674927, 0.58957037, 0.24487993, 0.21089779, 0.24462374,
       0.28123626, 0.13557439, 0.1436734 , 0.63088613, 0.14652772,
       0.21508027, 0.68540921, 0.57621391, 0.0690958 , 0.20763717,
       0.21464674, 0.75920376, 0.58408918, 0.11838565, 0.5144388 ],
      dtype=float128)

In [128]:
output = []
for i in range(0, 4):
    theta1 = pd.DataFrame(theta)
    h = hypothesis(theta1.iloc[:,i], X)
    output.append(h)
output=pd.DataFrame(output)
output

,0,1,2,3,4,5,6,7,8,9,...,390,391,392,393,394,395,396,397,398,399
0,0.152259,0.640366,0.190392,0.173692,0.257599,0.281376,0.686421,0.126327,0.714789,0.228643,...,0.357254,0.171214,0.221716,0.590361,0.629634,0.299836,0.169974,0.200967,0.766779,0.445418
1,0.062818,0.104595,0.077025,0.153122,0.105079,0.630385,0.105084,0.084499,0.088900,0.101872,...,0.465688,0.068733,0.068567,0.194066,0.052264,0.530219,0.079796,0.115198,0.130043,0.087037
2,0.154737,0.058460,0.680612,0.211592,0.127756,0.059531,0.076025,0.137767,0.070538,0.115848,...,0.078481,0.117579,0.287659,0.139479,0.077622,0.056740,0.134864,0.105052,0.039158,0.114623
3,0.702386,0.160365,0.227596,0.542712,0.600049,0.251416,0.126580,0.676530,0.147458,0.560012,...,0.215080,0.685409,0.576214,0.069096,0.207637,0.214647,0.759204,0.584089,0.118386,0.514439

In [133]:
prediction_array = []
#eval_output = output
for col in range(0,400):
    max_prob_index = 0
    i = 0
    for row in range(0,4):
        if output[col][row] > output[col][max_prob_index]:
            max_prob_index = row
    #for row in range(0,4):        
        #if row == max_prob_index:
        #    eval_output[col][row] = 1
        #else:
        #    eval_output[col][row] = 0
    match max_prob_index:
        case 0:
            prediction_array.append([col, "Ravenclaw"])
        case 1:
            prediction_array.append([col, "Slytherin"])
        case 2:
            prediction_array.append([col, "Gryffindor"])
        case 3:
            prediction_array.append([col, "Hufflepuff"])
        
       
#eval_output = pd.DataFrame(eval_output)
#eval_output

In [134]:
prediction = pd.DataFrame(prediction_array)
prediction.columns = ['Index','Hogwarts House']
prediction

     Index Hogwarts House
0        0     Hufflepuff
1        1      Ravenclaw
2        2     Gryffindor
3        3     Hufflepuff
4        4     Hufflepuff
..     ...            ...
395    395      Slytherin
396    396     Hufflepuff
397    397     Hufflepuff
398    398      Ravenclaw
399    399     Hufflepuff

[400 rows x 2 columns]

In [136]:
prediction.to_csv('houses.csv',index=False)

In [72]:
from sklearn.metrics import accuracy_score
y_pred = eval_output.T
y_true = y1
score = accuracy_score(y_true, y_pred)

score2 = accuracy_score(y_true, y_pred, normalize=False)
score

NameError: name 'y1' is not defined