In [70]:
import pandas as pd
from colors import colors
from matplotlib import pyplot as plt
import math
import numpy as np

In [71]:
def hypothesis(theta, X):
    return 1 / (1 + np.exp(-(np.dot(theta, X.T)))) - 0.0000001

In [72]:
def cost(X, y, theta):
    y1 = hypothesis(X, theta)
    return -(1/len(X)) * np.sum(y * np.log(y1) + (1 - y) * np.log(1 - y1))

In [73]:
# drops all non-numeric columns but "Hogwarts House"
def arrange_columns(df):
    # drop index column
    df.drop(columns=['Index'], inplace=True)
    for column in df:
        if df[column].dtype.kind in 'biufc': # https://stackoverflow.com/a/38185438
            continue
        if column == 'Hogwarts House':
            continue
        else:
            df.drop(columns=[column], inplace=True)

In [74]:
# adds newlines to long label names
def adjust_plot_labels(df):
    new_column_names = []
    for column in df:
        if column == 'Hogwarts House':
            new_column_names.append(column)
        elif len(column) > 15:
            split_col = column.split(" ")
            tmp_col_name = ""
            for i in range(len(split_col)):
                tmp_col_name += split_col[i]
                if i % 2:
                    tmp_col_name += "\n"
                else:
                    tmp_col_name += " "
            new_column_names.append(tmp_col_name)
        else:
            new_column_names.append(column)
    df.columns = new_column_names

In [75]:
# CHANGE THIS TO MY GRADIENT DESCENT
def gradient_descent(X, y, theta, L, epochs):
    n = len(X)
    #cost = [[] for i in range(10)]
    for i in range(0, epochs):
        for j in range(0, 4):
            theta = pd.DataFrame(theta)
            h = hypothesis(theta.iloc[:,j], X)
            for k in range(0, theta.shape[0]):
                theta.iloc[k, j] -= (L/n) * np.sum((h-y.iloc[:, j])*X.iloc[:, k])
            #theta = pd.DataFrame(theta)
        
    return theta

In [76]:
def predict(X, y):
    accuracy = 0
    for i in range(4):
        h = hypothesis(theta1.iloc[:,j], X)
        for n in range(0, len(h)):
            if h[n] >= 0.5 and y1.iloc[n, i] == 1:
                accuracy += 1
            elif h[n] < 0.5 and y1.iloc[n, i] == 0:
                accuracy += 1
    return accuracy

In [77]:
# Read dataset and preprocess it
try:
    df = pd.read_csv("datasets/dataset_train.csv")
except:
    print(f"{colors().RED}Error: could not read file{colors().END}")
    exit()
arrange_columns(df)
adjust_plot_labels(df)

In [78]:
# Normalize data
for column in df:
    if df[column].dtype.kind not in 'biufc': # https://stackoverflow.com/a/38185438
        continue
    max_norm = df[column].max()
    min_norm = df[column].min()

    for i in range(len(df)):
        df.iloc[i, df.columns.get_loc(column)] = (df.iloc[i, df.columns.get_loc(column)] - min_norm) / (max_norm - min_norm)
        # make missing data zero
        if math.isnan(df.iloc[i, df.columns.get_loc(column)]) == True:
            #print(df.iloc[i, df.columns.get_loc(column)])
            df.iloc[i, df.columns.get_loc(column)] = 0
            #print(df.iloc[i, df.columns.get_loc(column)])

In [79]:
#plt.scatter(df.Flying, df["Hogwarts House"])

In [80]:
from sklearn.model_selection import train_test_split

In [81]:
#split in input and output variables
df_without_house = df.drop(columns=["Hogwarts House"])
df_only_house = df["Hogwarts House"]

In [82]:
df_without_house

,Arithmancy,Astronomy,Herbology,Defense Against\nthe Dark\nArts,Divination,Muggle Studies,Ancient Runes,History of\nMagic,Transfiguration,Potions,Care of\nMagical Creatures\n,Charms,Flying
0,0.639887,0.241486,0.731351,0.758514,0.716936,0.623499,0.538679,0.679081,0.692354,0.465490,0.632571,0.793213,0.335649
1,0.708357,0.209123,0.196645,0.790877,0.166054,0.274983,0.181768,0.624914,0.791954,0.655153,0.534573,0.248862,0.147696
2,0.371712,0.302914,0.822541,0.697086,0.792526,0.803801,0.690568,0.598330,0.943484,0.736308,0.439286,0.946253,0.460090
3,0.441033,0.839396,0.173377,0.160604,0.679834,0.252191,0.520257,0.195162,0.071565,0.302694,0.517978,0.117970,0.829700
4,0.653604,0.707791,0.112971,0.000000,0.584413,0.294754,0.683503,0.260962,0.160179,0.494046,0.478728,0.130868,0.737070
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1595,0.567396,0.666189,0.262629,0.333811,0.769177,0.270442,0.724445,0.174819,0.299445,0.443483,0.418148,0.299121,0.797542
1596,0.677868,0.672871,0.746591,0.327129,0.558878,0.203419,0.350918,0.534834,0.777411,0.577087,0.467757,0.410483,0.491315
1597,0.682577,0.761874,0.323727,0.238126,0.788528,0.321883,0.761260,0.138550,0.245615,0.351388,0.531417,0.264231,0.824988
1598,0.828008,0.716314,0.627083,0.283686,0.824404,0.116920,0.215752,0.610742,0.942760,0.471727,0.436688,0.417122,0.227255
1599,0.564535,0.834943,0.717378,0.165057,0.816675,0.391158,0.121132,0.774381,0.667083,0.370166,0.543813,0.478044,0.275112

In [83]:
# House belonging matrix (get's filled with '1' for corresponding house)
y1 = np.zeros([df_without_house.shape[0], len(df_only_house.unique())])
y1 = pd.DataFrame(y1)
y1

        0    1    2    3
0     0.0  0.0  0.0  0.0
1     0.0  0.0  0.0  0.0
2     0.0  0.0  0.0  0.0
3     0.0  0.0  0.0  0.0
4     0.0  0.0  0.0  0.0
...   ...  ...  ...  ...
1595  0.0  0.0  0.0  0.0
1596  0.0  0.0  0.0  0.0
1597  0.0  0.0  0.0  0.0
1598  0.0  0.0  0.0  0.0
1599  0.0  0.0  0.0  0.0

[1600 rows x 4 columns]

In [84]:
for i in range(0, len(df_only_house.unique())):
    for j in range(0, len(y1)):
        if df_only_house[j] == df_only_house.unique()[i]:
            y1.iloc[j, i] = 1
        else:
            y1.iloc[j, i] = 0
y1.head()

     0    1    2    3
0  1.0  0.0  0.0  0.0
1  0.0  1.0  0.0  0.0
2  1.0  0.0  0.0  0.0
3  0.0  0.0  1.0  0.0
4  0.0  0.0  1.0  0.0

In [85]:
y1.tail()

        0    1    2    3
1595  0.0  0.0  1.0  0.0
1596  0.0  1.0  0.0  0.0
1597  0.0  0.0  1.0  0.0
1598  0.0  0.0  0.0  1.0
1599  0.0  0.0  0.0  1.0

In [86]:
y1.shape

(1600, 4)

In [87]:
# why 15?? -> 13 courses + bias + index?
theta = np.zeros([df_without_house.shape[1]+1, y1.shape[1]])
theta.shape
# here 14

(14, 4)

In [88]:
#add a bias column
X = pd.concat([pd.Series(1, index=df_without_house.index, name='bias'), df_without_house], axis=1)
X.shape

(1600, 14)

In [89]:
# theta array, all filled with '1'
theta = np.ones(df_without_house.shape[1]+1)
theta.shape
# here 15, why???

(14,)

In [90]:
h = hypothesis(theta, X)
h

array([0.99985635, 0.99854442, 0.99993251, ..., 0.99927891, 0.99955555,
       0.999556  ])

In [91]:
theta = pd.DataFrame(theta)
type(theta.iloc[:,0])

pandas.core.series.Series

In [92]:
# WHAT IS BIG X????
theta = np.zeros([df_without_house.shape[1]+1, y1.shape[1]])
theta = gradient_descent(X, y1, theta, 0.02, 1000) # CHANGE the epochs!
theta

           0         1         2         3
0  -0.861099 -0.080378 -0.089486 -0.300547
1  -0.483956 -0.049620 -0.079314 -0.108317
2  -1.365923 -0.798525  0.515254  0.907747
3   0.335411 -0.800558 -0.780483  0.806760
4   0.543961  0.715236 -0.587689 -1.218754
5   0.007459 -1.238483  0.234697  0.331139
6   0.980283 -0.358003 -0.308268 -0.641691
7   0.606639 -0.604024  0.636438 -1.147217
8  -0.136996  0.214778 -1.044724  0.388713
9  -0.165755  0.236956 -1.155117  0.435634
10 -0.294384  0.485706 -0.456614 -0.423199
11 -0.364910 -0.058761 -0.059149 -0.120443
12  1.039717 -0.550806 -0.703898 -0.164273
13 -0.528632 -0.601351  0.970974 -0.524745

In [93]:
theta = pd.DataFrame(theta)
hypothesis(theta.iloc[:,3], X)

array([0.21758865, 0.23240275, 0.1954142 , ..., 0.25752339, 0.64077056,
       0.69015536])

In [94]:
output = []
for i in range(0, 4):
    theta1 = pd.DataFrame(theta)
    h = hypothesis(theta1.iloc[:,i], X)
    output.append(h)
output=pd.DataFrame(output)

In [95]:
output

,0,1,2,3,4,5,6,7,8,9,...,1590,1591,1592,1593,1594,1595,1596,1597,1598,1599
0,0.542954,0.261830,0.631422,0.105236,0.115641,0.306095,0.089511,0.195999,0.136504,0.174364,...,0.655878,0.271895,0.186276,0.572144,0.154382,0.177556,0.162591,0.150690,0.136042,0.160592
1,0.127377,0.523636,0.091038,0.080807,0.097961,0.516369,0.156770,0.095527,0.067690,0.098646,...,0.124524,0.487130,0.057144,0.102260,0.082040,0.079876,0.123290,0.058561,0.119819,0.082223
2,0.062673,0.074710,0.050533,0.681012,0.629131,0.067266,0.703215,0.237061,0.674599,0.114048,...,0.056103,0.082545,0.585186,0.059797,0.142372,0.543368,0.137108,0.603811,0.100770,0.112755
3,0.217589,0.232403,0.195414,0.328718,0.284704,0.184929,0.244481,0.442324,0.261840,0.653399,...,0.187566,0.224842,0.242322,0.168780,0.526580,0.229799,0.503292,0.257523,0.640771,0.690155

In [96]:
output.iloc[2, 50]

0.5558578413972823

In [97]:
accuracy = 0
for col in range(0, 4):
    for row in range(len(y1)):
        if y1.iloc[row, col] == 1 and output.iloc[col, row] >= 0.5:
            accuracy += 1
accuracy

1298

In [98]:
accuracy= accuracy/len(X)

In [99]:
accuracy

0.81125